$primaryColor: #FF0000;
$pictureLength: 200px;
$bioTextColor: #FFFFFF;
$transformScaleFactor: 8;

body {
  font-family: Verdana;
  font-size: 1.25em;

  h1 {
    color: $primaryColor; 
  }
}

/* Hover effects adapted from example 6:
   http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/
*/
#team-members {
  clear: both;

  .member {
    float: left;
    margin: 10px;
    padding: 0px;

    width: $pictureLength;
    height: $pictureLength;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;

    .name {
      width: $pictureLength;
      height: $pictureLength;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;

      background-color: rgba(146, 96, 91, 0.5);
      opacity: 0;
      transition: all 0.3s ease-in 0.4s;
    }

    img {
      display: block;
      position: relative;

      transition: all 0.4s ease-in-out 0.5s; 
      width: $pictureLength;
      height: $pictureLength;
    }

    h3 {
      font-family: Oswald, Arial, sans-serif;
      text-transform: uppercase;
      color: $bioTextColor;
      text-align: center;
      position: relative;
      font-size: 1em;
      padding: 10px;
      margin: 20px 0 0 0;

      opacity: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin: 15px 30px 0px 30px;
      transform: scale($transformScaleFactor);
      transition: all 0.3s ease-in-out 0.1s;
    }

    p {
      font: italic 0.6em Georgia, serif;
      position: relative;
      color: $bioTextColor;
      padding: 10px 20px 20px;

      opacity: 0;
      transform: scale($transformScaleFactor);
      transition: all 0.3s ease-in-out 0.2s;
    }
  }

  .member:hover {

    .name {  
      opacity: 1; 
      transition-delay: 0s;
    }

    img { 
      transition-delay: 0s; 
    }

    h3 { 
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.1s;
    }

    p { 
      opacity: 1; 
      transform: scale(1);
      transition-delay: 0.2s;
    }
  }
}

